.s1 {
    padding-top: 150px;
    h2 {
        text-align: center;
    }
    .cd {
        width:400px; 
        margin:0 auto;
        input {
            width: 400px;
        }
    }
    div {
        margin: 10px 0px;
        button {
            width:430px; 
        }
        .center {
            margin-left: 22%
        }
    }
    

    p {
        margin-left: 23%;
    }
}
