@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Inconsolata&display=swap');

.mem {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: -41px;
    color: white;
    background-image: url('./landimage.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-attachment: fixed;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 450px;
    height: 300px;
    font-style: bold;
    margin: 60px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 20px;

    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

.title {
font-family: 'Inconsolata', monospace;
}

.tilt {
    font-family: 'Inconsolata', monospace;
}

.servT {
    font-family: 'Inconsolata', monospace;
    color: white;
}

.servP {
    font-family: 'Anton', sans-serif;
    color: black;
}
.detail {
    display: flex;
    margin: 30px;
    height: 400px;
}

.infoCard {
    padding: 30px;
    height: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact {
    background-color: #00022D;
    height: 500px;
}

.contact2 {
    background-color: #00022D;
    padding: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.contact3 {
    background-color: white;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.formi {
    margin: 30px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    margin : 20px;
    width: 411px;
    height: 268px;
    left: 792px;
    top: 2661px;
    color: white;

background: rgba(196, 196, 196, 0.28);
border-radius: 10px;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Inconsolata', monospace;
    width: 411px;
    height: 268px;
    left: 792px;
    top: 2661px;
    color: black;

background-color: white;
border-radius: 10px;
}

.aboutpic {
    width: 420px;
    height: 269px;
    background-image: url('./about.jpg');
    background-size: cover;
}