@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Inconsolata&display=swap');

.mem {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url('./landimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.info {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

.title {
font-family: 'Inconsolata', monospace;
}

.tilt {
    font-family: 'Inconsolata', monospace;
}

.servT {
    font-family: 'Inconsolata', monospace;
    color: white;
}

.servP {
    font-family: 'Anton', sans-serif;
    color: black;
}

.infoCard {
    padding: 30px;
    height: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact {
    background-color: #00022D;
    height: 100vh;
}

.contact2 {
    background-color: #00022D;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}
.contact3 {
    background-color: white;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.formi {
    margin: 30px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    margin : 20px;
    width: 411px;
    height: 268px;
    left: 792px;
    top: 2661px;
    color: white;

background: rgba(196, 196, 196, 0.28);
border-radius: 10px;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Inconsolata', monospace;
    width: 411px;
    height: 268px;
    left: 792px;
    top: 2661px;
    color: black;

background-color: white;
border-radius: 10px;
}

.about-image {
    width: 320px;
    height: 269px;
}

.services{
    color: white;
}

.card-class{
    height: 50vh;
}

.featured-image{
    width: 40vw;
}