.s11 {
    padding-top: 50px;
    h2 {
        text-align: center;
    }
    .cd {
        width:400px; 
        margin:0 auto;
        input {
            width: 400px;
        }
    }
    div {
        margin: 10px 0px;
        button {
            width:430px; 
        }
        .center {
            margin-left: 22%
        }
    }
    

    p {
        margin-left: 23%;
    }
}


.s2 {
    /* The image used */
    background-image: url("../../assets/images/people.png");
  
    /* Set a specific height */
    height: 100vh;
    //background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }